@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root{
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    --text-primary: #F6F3E5;
    --text-secondary: #000000;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --shadow: rgba(166, 166, 167, 0.69);
    --transition-speed: 800ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    background-color: #d4d4d4dc;
    
}

main{
    width: 1200px;
    margin: 0 auto;
   
      
}

/**** SLIDER ****/

.slider{
    height: 100vh;
    position: relative;
}

.slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/**** ABOUT SEKCE ***/

.about{
    margin-top: 100px;
    
}

.about-title{
    width: 100%;
    text-align: center;
}

.about img{
    width: 300px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

/**** FOTOGELARIE ****/

.container{
    margin-top: 100px;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(minmax(500px, 1fr)); 
    min-height: 100vh; 
    grid-column-gap: 200px;
    border-bottom: 1px black solid;
   
}

.container .heading1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
}

.container img:hover{
    transform: scale(1.1);
    
}

.photos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 10px;
    
    
}

.photos img{
    width: 25.5%; 
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 20px;
    /* box-shadow: 0 0 15px 0 var(--shadow); */
    
}



.full-img{
    position: absolute;
    height: 70%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.full-img.open{
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.25s ease-out;
}

.modal{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.modal p{
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%); 
    
}


footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    margin-top: 100px;
}