@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

:root{
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    --text-primary: #F6F3E5;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #141418;
    --shadow: rgba(166, 166, 167, 0.836);
    --transition-speed: 200ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    background-color: var(--bg-primary);
    
}

main{
    width: 1200px;
    margin: 0 auto;
   
      
}

/**** NAVBAR ****/

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color:white;
    transition: all .3s ease-in-out;
    z-index: 1;
    opacity: 75%;
    
    
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: 20px;
}



.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 800;
    gap: 0px 20px;
    border-bottom: 2px solid transparent;
    transition: var(--transition-speed);
    
}

.nav-links a:hover{
    transition: border-bottom 0.3s;
    border-bottom: 2px solid #000000;
}

.burger{
    display: none;
    margin-right: 20px;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/**** SLIDER ****/

.slider{
    height: 100vh;
    position: relative;
}

.slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/**** ABOUT SEKCE ***/

.about{
    margin-top: 150px;
    padding-bottom: 200px;
    
}

.about-whole{
    width: 100%;
    text-align: center;
}

.about-whole h2{
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.about-whole p{
    font-size: 28px;
    line-height: 40px;

}

.about img{
    width: 400px;
    height: auto;
    display: flex;
    margin: 0 auto;
}


/**** FOTOGELARIE ****/

.container{
    margin-top: 100px;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(minmax(500px, 1fr)); 
    min-height: 100vh; 
    grid-column-gap: 200px;
    border-bottom: 1px black solid;
   
}

.container .heading1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
}

.container img:hover{
    transform: scale(0.98);
    opacity: .98;
    
    
}

.photos a{
    width: 32.5%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 0 auto;
    object-fit: cover;
}

 .photos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 20px;
    
    
    
} 

.photos img{
    width: 100%; 
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 0 30px 0 var(--shadow); 
    border-radius: 2.5px;
}





/*** FOOTER ***/


footer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    opacity: 90%;
}

.footer{
    text-align: center;
    
}

.wrapper a i{
    margin-top: 20px;
    font-size: 45px;
    color: black;
    transition: .3s ease-in-out;
}

.wrapper a i:hover{
    transform: scale(1.2);
}

.footer h2{
    font-size: 50px;
    margin-top: 20px;
    padding-bottom: 15px;
}

.footer p{
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
}


/*** RESPOSIVITY ***/


@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }

    header{
        width: 1024px;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden; 
    }
    

    header{
        width: 360px;
    }
   
    main{
        width: 360px;
    }

    footer{
        height: 40vh;
        margin: 0 auto;
    }
    
    

    .about{
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .about-whole p{
        font-size: 20px;
    }

    .photos img{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about img{
        width: 350px;
        
    }

    .photos a{
        width: 70%;
    }


    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        font-weight: bold;
       
    }

    .nav-links li{
        opacity: 1;
    }

    .burger{
        display: block;
    }


    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}